/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #AboutMe {
    padding: 6rem;
    font-family: "Merriweather";
  }
  #AboutMe #littleIcons i {
    margin-top: 2rem;
    font-size: 40px;
  }
  #AboutMe #littleIcons i:hover {
    color: var(--hover-items);
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #AboutMe {
    padding: 6rem;
    font-family: "Merriweather";
  }
  #AboutMe #littleIcons i {
    margin-top: 2rem;
    font-size: 40px;
  }
  #AboutMe #littleIcons i:hover {
    color: var(--hover-items);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #AboutMe {
    padding: 6rem;
    font-family: "Merriweather";
  }
  #AboutMe #littleIcons i {
    margin-top: 2rem;
    font-size: 40px;
  }
  #AboutMe #littleIcons i:hover {
    color: var(--hover-items);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #AboutMe {
    padding: 6rem;
    font-family: "Merriweather";
  }
  #AboutMe #littleIcons i {
    margin-top: 2rem;
    font-size: 40px;
  }
  #AboutMe #littleIcons i:hover {
    color: var(--hover-items);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #AboutMe {
    padding: 6rem;
    font-family: "Merriweather";
  }
  #AboutMe #littleIcons i {
    margin-top: 2rem;
    font-size: 40px;
  }
  #AboutMe #littleIcons i:hover {
    color: var(--hover-items);
  }
}
