/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  footer {
    padding: 6rem;
    background-color: var(--bg-grey);
    color: var(--main-bg-color);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    margin: 0 30px 0 30px;
  }

  footer a:hover {
    text-decoration: none;
    color: var(--hover-items);
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  footer {
    padding: 6rem;
    background-color: var(--bg-grey);
    color: var(--main-bg-color);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    margin: 0 30px 0 30px;
  }

  footer a:hover {
    text-decoration: none;
    color: var(--hover-items);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  footer {
    padding: 6rem;
    background-color: var(--bg-grey);
    color: var(--main-bg-color);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    margin: 0 30px 0 30px;
  }

  footer a:hover {
    text-decoration: none;
    color: var(--hover-items);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer {
    padding: 6rem;
    background-color: var(--bg-grey);
    color: var(--main-bg-color);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    margin: 0 30px 0 30px;
  }

  footer a:hover {
    text-decoration: none;
    color: var(--hover-items);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  footer {
    padding: 6rem;
    background-color: var(--bg-grey);
    color: var(--main-bg-color);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    margin: 0 30px 0 30px;
  }

  footer a:hover {
    text-decoration: none;
    color: var(--hover-items);
  }
}
