/* ----------------------------------------------
      Animaciones hechas con Animista
*/

.scale-up-center {
  animation: scale-up-center 1.3s ease-in-out both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* ----------------------------------------------*/

#projects {
  background-color: var(--main-bg-color);
  color: var(--second-bg-color);
  padding: 3rem;
  padding-bottom: 6rem;
}

#projects h2 {
  margin-bottom: 3rem;
}
#ProyectInfo {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 575.98px) {
  #projects img {
    border-radius: 20px;
    transition: transform 0.4s, -webkit-transform 0.3s;
    width: 100%;
    margin-bottom: 50px;
  }

  #ProyectInfo #imgContainer {
    display: flex;
    justify-content: center;
  }

  #ProyectInfo img {
    border-radius: 15px;
    height: 300px;
    width: 100%;
  }

  #ProyectInfo h2 {
    text-align: center;
  }

  #ProyectInfo a {
    text-decoration: none;
    color: rgb(231, 14, 141);
    font-size: 1.2rem;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #projects img {
    border-radius: 20px;
    transition: transform 0.4s, -webkit-transform 0.3s;
    width: 100%;
    margin-bottom: 50px;
  }

  #ProyectInfo #imgContainer {
    display: flex;
    justify-content: center;
  }

  #ProyectInfo img {
    border-radius: 15px;
    height: 300px;
    width: 100%;
  }

  #ProyectInfo h2 {
    text-align: center;
  }

  #ProyectInfo a {
    text-decoration: none;
    color: rgb(231, 14, 141);
    font-size: 1.2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #projects img {
    border-radius: 20px;
    transition: transform 0.4s, -webkit-transform 0.3s;
    width: 100%;
    height: 100%;
  }

  #ProyectInfo #imgContainer {
    display: flex;
    justify-content: center;
  }

  #ProyectInfo img {
    border-radius: 15px;
    height: 300px;
    width: 100%;
  }

  #ProyectInfo h2 {
    text-align: center;
  }

  #ProyectInfo a {
    text-decoration: none;
    color: rgb(231, 14, 141);
    font-size: 1.2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #projects img {
    border-radius: 20px;
    transition: transform 0.4s;
    width: 100%;
    height: 100%;
  }

  #projects img:hover {
    -webkit-transform: scale(1);
    transform: scale(1.05);
    box-shadow: 0 0 9px 1px #000;
    border: 1px solid #e9e9e9;
  }

  #ProyectInfo #imgContainer {
    display: flex;
    justify-content: center;
  }

  #ProyectInfo img {
    border-radius: 15px;
    height: 300px;
    width: 100%;
  }

  #ProyectInfo h2 {
    text-align: center;
  }

  #ProyectInfo a {
    text-decoration: none;
    color: rgb(231, 14, 141);
    font-size: 1.2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #projects img {
    border-radius: 20px;
    transition: transform 0.4s;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  #projects img:hover {
    -webkit-transform: scale(1);
    transform: scale(1.05);
    box-shadow: 0 0 9px 1px #000;
    border: 1px solid #e9e9e9;
  }

  #ProyectInfo #imgContainer {
    display: flex;
    justify-content: center;
  }

  #ProyectInfo img {
    border-radius: 15px;
    height: 300px;
    width: 100%;
  }

  #ProyectInfo h2 {
    text-align: center;
  }

  #ProyectInfo a {
    text-decoration: none;
    color: rgb(231, 14, 141);
    font-size: 1.2rem;
  }
}
